.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacing-lg) var(--spacing-lg);
	border-bottom: 1px solid var(--border-color);
	background-color: var(--surface);
}

@media (min-width: 960px) {
	.container {
		justify-content: space-around;
	}
}

.title {
	font-family: var(--font-heading);
	font-size: var(--font-size-3xl);
	color: var(--site-title-color);
}

.icon.icon-menu {
	font-size: var(--icon-size-2xl);
}

.icon.icon-close {
	align-self: flex-end;
	margin: 1rem;
	color: var(--color-neutral-200);
}

.navigation ul {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	font-family: var(--font-heading);
}

.dropdown-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 70%;
	height: 100%;
	background-color: var(--surface);
	box-shadow: 0 0 0.4px var(--border-color);
}

.dropdown-menu-display {
	display: none;
}

.mobile-navigation {
	font-family: var(--font-heading);
}

.mobile-navigation ul {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

:has(.navigation, .mobile-navigation) ul li {
	cursor: pointer;
	display: flex;
	font-size: var(--font-size-xs);
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-light);
	color: var(--color-primary-100);
	list-style: none;
}

.dropdown-menu .mobile-navigation ul li {
	font-size: var(--font-size-md);
}

.dropdown-menu .mobile-navigation ul {
	margin-left: 2rem;
	padding: 0;
}

.navigation ul li:hover {
	color: var(--color-primary-300);
}

.navigation ul li {
	cursor: pointer;
}

.mobile-nav-indicator {
	width: 0.3rem;
	height: auto;
	margin-right: 1.5rem;
	opacity: 0;
	background-color: var(--border-color);
}

.mobile-navigation ul li:hover .mobile-nav-indicator {
	opacity: 1;
}
