.introHeader {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.profilePicture {
	width: 12rem;
	border-radius: 50%;
	box-shadow: 0 0 5px 1px #929595ff;
}

.jobTitle {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	color: var(--primary-color);
}
